.pane-plain-box-temporary-5fff4e2e26dbbdeeb129a6b69a983e8e {
  margin-bottom: 10px;
  color: #000000;
  background-color: #d8a3a1;
}

.pane-plain-box-temporary-5fff4e2e26dbbdeeb129a6b69a983e8e h2 {
  color: #000000;
  background-color: #d8a3a1;
}

.pane-plain-box-temporary-5fff4e2e26dbbdeeb129a6b69a983e8e {
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
