/* SASS Document */

.pane-block {
	/*background-color: #f0f0f0;*/
	padding:5px;
}

#main-menu ul li{
	width:19%;
	text-align:center;
	margin-top: 0.75em
}

#main-menu ul li a:hover{
	color:#CCC47C;
}

.region-bottom{
	background-color:#228368;	
}

#header{
	background-image: url(../images/limestone.jpg);
}

#page{
	background-color:white;
	border-left:solid $green-border 1px;
	border-right:solid $green-border 1px;
	border-bottom:solid $green-border 1px;
}

body{
	background-color:#228368;
}

.mceContentBody{
	background-color:#ffffff;
}

footer p{
	text-align:right;
}